<form
  [formGroup]="updateProfileForm"
  class="form-widget"
  (ngSubmit)="updateProfile()"
>
  <div
    style="margin-bottom: 16px; color: #145487; cursor: pointer"
    (click)="goBack()"
  >
    <span style="margin-left: 16px"> < Volver a Perfil </span>
  </div>
  <!-- <app-avatar [avatarUrl]="this.avatarUrl" (upload)="updateAvatar($event)">
  </app-avatar> -->

  <div class="data-content">
    <label for="email">Correo</label>
    <input id="email" type="text" [value]="userSession.email" disabled />
  </div>
  <!-- <div class="data-content">
    <label for="username">Usuario</label>
    <input formControlName="username" id="username" type="text" />
  </div> -->
  <!-- <div class="data-content">
    <label for="username">Nombre</label>
    <input formControlName="username" id="username" type="text" />
  </div> -->

  <div class="data-content">
    <label for="username">Nombre</label>
    <input formControlName="name" id="name" type="text" />
  </div>

  <div class="data-content">
    <label for="username">Apellidos</label>
    <input formControlName="surname" id="surname" type="text" />
  </div>

  <div class="data-content">
    <label for="website">Teléfono</label>
    <input formControlName="phone" id="phone" type="url" />
  </div>

  <div class="data-content">
    <button type="submit" class="button primary block" [disabled]="loading">
      {{ loading ? "Cargando ..." : "Actualizar" }}
    </button>
  </div>
</form>
<!-- <div style="text-align: center">
  <button class="button block close" (click)="signOut()">Cerrar sesión</button>
</div> -->
