button {
    padding: 12px 24px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    border-radius: 8px;
    border: 0;
    margin: 8px;
    cursor: pointer;
}

.block {
    padding: 14px 36px;
    border-radius: 25px;
    cursor: pointer;
    background: #145487;
    color: white;
    border: 0;
    font-size: 16px;
}

.close {
    background: #c91919;
}

.data-content {
    padding: 8px 16px;
    display: grid;
}

input {
    border-radius: 8px;
    height: 45px;
    font-size: 16px;
    border: 2px solid #145487;
    text-align: center;
}

label {
    color: #145487;
    margin-bottom: 4px;
    text-align: center;
}

form {
    max-width: 500px;
    margin: 16px auto;
}