<div class="mini-grid__widget-prod">
  <div
    class="widget-prod d-flex flex-column align-items-center widget-prod__not_highlighted"
  >
    <div class="d-flex flex-column flex-grow-1 w-100 widget-prod__body">
      <div class="u-pointer">
        <div class="widget-prod__boximage">
          <div id="infoproduct-content--offers" *ngIf="product.offers[0]">
            <div id="infoproduct-content--offers" class="pictos">
              <div class="product-detail__pictos--offer">
                <div
                  class="m-categoria m-inmediata m-oferta mindescription_img pictos__item"
                >
                  <!-- <span class="pictos--inside"
                    >{{ product.offers[0].minDescription }}
                  </span> -->

                  <img
                    class="image-component__image"
                    alt="picto oferta"
                    src="{{ product.offers[0].image }}"
                  />
                </div>
              </div>
              <div
                *ngIf="product.offers[0].amount"
                id="infoproduct-offers--chequecrece"
                class="pannel--check pannel--check__deferred u-width--50"
              >
                <div
                  class="discount"
                  *ngIf="!product.offers[0].minDescription.includes('Ahora')"
                >
                  <span class="u-size--11"
                    >+&nbsp;{{ product.offers[0].amount }}&nbsp;€</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="widget-prod__boximage--size">
            <a class="" href="/es/p/lentejas-a-la-riojana-bote/41087">
              <picture class="image-component"
                ><img
                  class="image-component__image"
                  alt="{{ product.productData.description }}"
                  src="{{
                    product.media[0]
                      ? product.media[0].url
                      : product.productData.imageURL
                  }}"
              /></picture>
            </a>
          </div>
          <div
            id="widget-prod--infoPictograms"
            class="widget-prod__boximage-pictos"
          ></div>
        </div>
      </div>
      <div class="widget-prod__info u-pointer">
        <div class="widget-prod__info-brand u-text--truncate-1">
          <a class="u-no-link" href="/es/p/lentejas-a-la-riojana-bote/41087"
            ><span id="grid-widget--brand" class="">{{
              product.productData.brand.name
            }}</span></a
          >
        </div>
        <h3 class="widget-prod__info-description u-text--truncate-2">
          <a
            id="grid-widget--descr"
            class="u-no-link"
            href="/es/p/lentejas-a-la-riojana-bote/41087"
            >{{ product.productData.description }}</a
          >
        </h3>
      </div>
      <div
        class="widget-prod__price d-flex flex-column flex-nowrap justify-content-end"
      >
        <div
          class="widget-prod__price--with-offer d-flex justify-content-end widget-prod__price--row"
        >
          <span
            *ngIf="product.priceData.prices[1]?.value?.centAmount"
            id="grid-widget--offerprice"
            class="widget-prod__price--line-through u-danger u-size--16 u-line--through-diagonal"
            >{{ product.priceData.prices[0].value.centAmount }}&nbsp;€</span
          >
          <span id="grid-widget--price" class="widget-prod__price--bold"
            >{{
              product.priceData.prices[1]
                ? product.priceData.prices[1].value.centAmount
                : product.priceData.prices[0].value.centAmount
            }}&nbsp;€</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
