<div>
  <div class="customer-list-title">
    <div class="customer-icon-container">
      <fa-icon
        [icon]="faRightToBracket"
        size="3x"
        [className]="'white-color'"
      ></fa-icon>
    </div>

    <h2 class="customer-title">{{ options.label }}</h2>

    <section class="auth-form">
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Correo</label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3" *ngIf="options.id !== ACTIONS.recovery">
          <label for="exampleInputPassword1" class="form-label"
            >Contraseña</label
          >
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">
            {{ options.label }}
          </button>
        </div>
        <div class="text-center mt-5">
          <ng-container *ngIf="options.id === signIn; else showSignTemplate">
            <a [routerLink]="['/sign-up']" class="text-black"
              >Crear una nueva cuenta</a
            >

            <a
              *ngIf="options.id !== ACTIONS.recovery"
              [routerLink]="['/recovery']"
              class="text-black"
              >Recuperar contraseña</a
            >
          </ng-container>
        </div>
      </form>
      <ng-template #showSignTemplate>
        <a [routerLink]="['/sign-in']" class="text-black">
          Ya tienes una cuenta? <small>Accede desde aquí!</small>
        </a>

        <a
          *ngIf="options.id !== ACTIONS.recovery"
          [routerLink]="['/recovery']"
          class="text-black"
          >Recuperar contraseña</a
        >
      </ng-template>
    </section>
  </div>
</div>
