<div>
  <div class="customer-list-title">
    <div class="customer-icon-container">
      <fa-icon
        [icon]="faShieldHalved"
        size="3x"
        [styles]="{ color: 'white' }"
      ></fa-icon>
    </div>

    <h2 class="customer-title">Privacidad</h2>
  </div>

  <div style="max-width: 1000px; margin: 16px auto">
    <div
      style="margin-bottom: 16px; color: #145487; cursor: pointer"
      (click)="goBack()"
    >
      <span style="margin-left: 16px"> < Volver a Perfil </span>
    </div>

    <div style="margin: 0 16px">
      <h1>Política de Privacidad</h1>

      <div class="section">
        <h2>1. Información Recopilada</h2>
        <p>
          Nuestra aplicación de comparador de precios de supermercado recopila
          la información ingresada por el usuario, como términos de búsqueda y
          listas de compras.
        </p>
      </div>

      <div class="section">
        <h2>2. Acceso a APIs de Supermercados</h2>
        <p>
          Para proporcionar los precios y productos de supermercados, accedemos
          a las APIs de diferentes establecimientos. No almacenamos ni
          recopilamos información personal de las APIs de los supermercados.
        </p>
      </div>

      <div class="section">
        <h2>3. Almacenamiento de Información</h2>
        <p>
          La información necesaria para el funcionamiento de la aplicación, como
          las listas de compras, se almacena de manera segura en nuestra base de
          datos. No compartimos esta información con terceros.
        </p>
      </div>

      <div class="section">
        <h2>4. Secciones Seguras para Usuarios Registrados</h2>
        <p>
          Las secciones seguras, como la gestión de listas de compras y la
          configuración de la cuenta, están disponibles solo para usuarios
          registrados. La información de la cuenta se maneja con seguridad y
          privacidad.
        </p>
      </div>

      <div class="section">
        <h2>5. Modificación de Datos de la Cuenta y Cierre de Sesión</h2>
        <p>
          Los usuarios registrados pueden modificar sus datos de cuenta en la
          sección correspondiente. Además, se proporciona la opción de cerrar
          sesión para garantizar la privacidad del usuario.
        </p>
      </div>

      <div class="footer">
        <p>Última actualización: 30/12/2023</p>
        <p>
          Para más detalles, por favor consulta nuestros
          <a href="#">Términos de Servicio</a>.
        </p>
      </div>
    </div>
  </div>
</div>
