<ng-container *ngFor="let item of supermarkets; let i = index">
  <ng-container
    *ngIf="filterProductsByType(item.name, i).slice(0, 50) as market"
  >
    <div
      class="list-container"
      *ngIf="market.length"
      [ngClass]="{ 'container-closed': !item.opened }"
    >
      <div
        class="sticky-brand external"
        [ngClass]="{ 'sticky-fixed': isStickyMarket }"
        [style.background-color]="item.background"
        (click)="visibilityContainer(i)"
      >
        <img
          class="logo-image"
          src="{{ item.src }}"
          alt="{{ item.name }}"
          [style.width]="item.srcWidth"
        />

        <span class="element-content">
          {{ item.title }}
          ({{ filterProductsByType(item.name, i).slice(0, 50).length }})
        </span>
        <span class="closed-icon">{{ item.opened ? "-" : "+" }}</span>
      </div>

      <div class="mini-grid__container" [ngClass]="{ closed: !item.opened }">
        <div class="filter-container">
          <div
            class="filter-icon"
            *ngIf="item.filter === 'DES'"
            [ngClass]="{ active: item.filter === 'DES' }"
            (click)="setFilterPrice(i)"
          >
            <img src="../../../assets/images/sort-price-a.png" alt="" />
          </div>
          <div
            class="filter-icon"
            *ngIf="item.filter === 'ASC' || item.filter === 'OFF'"
            [ngClass]="{ active: item.filter === 'ASC' }"
            (click)="setFilterPrice(i)"
          >
            <img src="../../../assets/images/sort-price-b.png" alt="" />
          </div>
        </div>
        <ng-container *ngIf="item.opened">
          <ng-container
            *ngFor="
              let product of filterProductsByType(item.name, i).slice(0, 50);
              trackById
            "
          >
            <app-external-product-view
              [type]="item.name"
              [product]="product"
            ></app-external-product-view>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
