<footer class="bottom-bar">
  <a
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <fa-icon [icon]="faShop" size="lg"></fa-icon>

    <span> Precios </span>
  </a>
  <a routerLink="/list" routerLinkActive="active-link">
    <fa-icon [icon]="faListCheck" size="lg"></fa-icon>

    <span>Mi Lista</span>
  </a>

  <a routerLink="/profile" routerLinkActive="active-link">
    <fa-icon class="icon-nav" [icon]="faUser" size="lg"></fa-icon>

    <span>Perfil</span>
  </a>
</footer>
