<div class="container-sticky">
  <div class="search-container">
    <input
      type="text"
      class="search-input"
      id="searchQuery"
      (input)="onSearchQueryInput($event)"
      placeholder="{{ 'Busque su producto: leche, lentejas...' }}"
    />
  </div>
</div>

<ng-container *ngIf="!products.length && !externalProducts.length">
  <div class="balance-container">
    <h2 style="color: #145487">
      Comparador de precios entre los dos supermercados más habituales en la
      Comunidad Valenciana.
    </h2>
    <img
      src="../../../assets/images/balanza.png"
      alt=""
      style="width: fit-content"
    />
  </div>
</ng-container>

<ng-container *ngIf="products.length">
  <h3 class="sticky-brand consum">
    <img
      src="../../../assets/images/logo-consum.png"
      alt=""
      style="width: 30px"
    />
    CONSUM
  </h3>
  <div class="mini-grid__container">
    <ng-container *ngFor="let item of products">
      <app-product-view [product]="item"></app-product-view>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="externalProducts.length">
  <h3 class="sticky-brand external">
    <img
      src="../../../assets/images/logo-mercadona.svg"
      alt=" "
      style="width: fit-content"
    />
  </h3>

  <div class="mini-grid__container">
    <ng-container *ngFor="let item of externalProducts">
      <app-external-product-view [product]="item"></app-external-product-view>
    </ng-container>
  </div>
</ng-container>
