<div
  class="home-container"
  [ngClass]="{ 'empty-data': !externalProducts.length }"
>
  <div class="header-container">
    <h1>Super más barato</h1>
    <h3 style="color: #145487; margin: 1rem">
      Comparador de precios entre los supermercados más habituales en la
      Comunidad Valenciana.
    </h3>
  </div>
  <div class="container-sticky" [ngClass]="{ sticky: isSticky }">
    <div class="search-container">
      <div class="input-container">
        <input
          type="text"
          class="search-input"
          id="searchQuery"
          [(ngModel)]="inputSearch"
          (input)="onSearchQueryInput($event)"
          placeholder="{{ 'Busque su producto: leche, lentejas...' }}"
        />
        <!-- <div
          *ngIf="inputSearch.length"
          class="clear-button"
          (click)="clearInput()"
        >
          X
        </div> -->
      </div>
    </div>
  </div>
  <app-footer
    [supermarketsSelected]="supermarketsSelected"
    (supermarketChange)="clickSupermarket($event)"
  ></app-footer>
</div>

<ng-container *ngIf="!empty">
  <div class="container-types">
    <div style="float: left">
      <h2 class="results-title">Resultados:</h2>
    </div>

    <div class="types-buttons">
      <div style="float: left; margin-left: 16px">
        <span
          class="type-button"
          [ngClass]="{ selectedType: filterByType === 'SUPERMARKET' }"
          (click)="setType('SUPERMARKET')"
          >Por Supermercado</span
        >
      </div>
      <div style="float: left; margin-left: 16px">
        <span
          class="type-button"
          [ngClass]="{ selectedType: filterByType === 'PRICE' }"
          (click)="setType('PRICE')"
          >Más Barato</span
        >
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="filterByType === 'SUPERMARKET'">
  <app-supermarket-view
    [externalProducts]="externalProducts"
    [supermarkets]="supermarkets"
  ></app-supermarket-view>
</ng-container>

<ng-container *ngIf="filterByType === 'PRICE'">
  <app-price-comparator
    [externalProducts]="externalProducts"
  ></app-price-comparator>
</ng-container>
