<div class="footer">
  <div class="footer-title">
    <span class="market-support">Selecciona tus supermercados:</span>
  </div>
  <div class="brand-logos">
    @for (market of SUPERMARKETS_LIST; track market) {
      <img
        (click)="clickSupermarket(market.name)"
        [ngClass]="{
          'market-no-selected': !supermarketsSelected[market.name.toString()]
        }"
        [src]="market.icon"
        [alt]="market.name"
        [style]="market.style ?? ''"
        />
      }
    </div>

    <div class="brand-logos">
      @for (market of SUPERMARKETS_LIST_SECOND; track market) {
        <img
          (click)="clickSupermarket(market.name)"
        [ngClass]="{
          'market-no-selected': !supermarketsSelected[market.name.toString()]
        }"
          [src]="market.icon"
          [alt]="market.name"
          [style]="market.style ?? ''"
          />
        }
      </div>

      <div class="brand-logos">
        @for (market of SUPERMARKETS_LIST_THIRD; track market) {
          <img
            (click)="clickSupermarket(market.name)"
        [ngClass]="{
          'market-no-selected': !supermarketsSelected[market.name.toString()]
        }"
            [src]="market.icon"
            [alt]="market.name"
            [style]="market.style ?? ''"
            />
          }
        </div>

        @if (supermarketsSelected['gadis']) {
          <div class="message-info-footer">
            * Gadis puede demorar la visualizacion de la lista.
          </div>
        }
      </div>
