.footer {
  padding: 0.5rem;
  text-align: center;
}

.brand-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-flow: wrap;
}

.brand-logos img {
  width: 46px;
  margin: 0 8px 14px 8px;
  cursor: pointer;
  object-fit: contain;
}

.footer-title {
  text-align: center;
}

.market-no-selected {
  -webkit-filter: grayscale(1) invert(0);
  filter: grayscale(1) invert(0);
}

.market-support {
  font-size: 1.2rem;
  color: #10436d;
}

.message-info-footer {
  color: #10436d;
  font-size: 14px;
}
