<div>
  <div class="customer-list-title">
    <div class="customer-icon-container">
      <fa-icon
        [icon]="faListCheck"
        size="3x"
        [styles]="{ color: 'white' }"
      ></fa-icon>
    </div>

    <h2 class="customer-title">MI LISTA DE LA COMPRA</h2>
    <span
      >* Los precios pueden ser diferentes si ha transcurrido mucho tiempo desde
      que se guardó en tu lista.</span
    >
  </div>

  <div *ngIf="!!products$.length">
    <h3 class="results-title">Mis supermercados:</h3>
  </div>

  <app-supermarket-view
    [externalProducts]="products$"
    [supermarkets]="supermarkets"
    [isStickyMarket]="false"
  ></app-supermarket-view>

  <div
    *ngIf="!(products$ ?? []).length && !loading$"
    class="empty-customer-list"
  >
    <fa-icon
      [icon]="faCartShopping"
      size="3x"
      [styles]="{ color: '#155487' }"
    ></fa-icon>
    <p>Añade desde la pestaña de Precios tus productos favoritos.</p>
  </div>
</div>
