<div>
  <div class="customer-list-title">
    <div
      style="
        border: 4px solid white;
        border-radius: 50px;
        width: fit-content;
        margin: 0 auto;
        padding: 13px;
        box-shadow: 0px 1px 0px #000000;
      "
    >
      <fa-icon
        [icon]="faListCheck"
        size="3x"
        [styles]="{ color: 'white' }"
      ></fa-icon>
    </div>

    <h2 style="color: white; text-shadow: 0px 1px 1px #000000">
      MI LISTA DE LA COMPRA
    </h2>
    <span
      >* Los precios pueden ser diferentes si ha transcurrido mucho tiempo desde
      que se guardó en tu lista.</span
    >
  </div>

  <div *ngIf="!!((products$ | async) ?? []).length">
    <h3 class="results-title">Mis supermercados:</h3>
  </div>

  <app-supermarket-view
    [externalProducts]="(products$ | async) ?? []"
    [supermarkets]="supermarkets"
    [isStickyMarket]="false"
  ></app-supermarket-view>

  <div
    *ngIf="!((products$ | async) ?? []).length"
    style="text-align: center; padding: 3rem 1rem; color: #155487"
  >
    <fa-icon
      [icon]="faCartShopping"
      size="3x"
      [styles]="{ color: '#155487' }"
    ></fa-icon>
    <p>Añade desde la pestaña de Precios tus productos favoritos.</p>
  </div>
</div>
